# Created by .ignore support plugin (hsz.mobi)
.*.swp
._*
.DS_Store
.git
.idea
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
tsconfig.json
tags-input/
node_modules/
src/
aot/
.gitignore/
gulpfile.js
